/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.fullscreen-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.prediction-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    flex: 0 0 30%; /* Flex grow, flex shrink, flex basis */
    margin-right: 10px;
}

input[type="text"], select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
    
    .input-group {
        flex-direction: column;
    }
    
    label {
        margin-bottom: 5px;
    }
}